@import url('../../constance//constance.css');

.user {
    flex: 4
}

.usercontainer {
    display: flex;
    margin-top: 20px
}

.usershow {
    flex: 1;
    padding: 10px;
    box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
}

.usershowtop {
    display: flex;
    align-items: center;
}

.usershowimage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%
}

.usershownames {
    display: flex;
    flex-direction: column;
}

.usershowspannames {
    font-weight: 500;
    font-size: var(--medium);
}

.usershowspanusernam {
    font-weight: 300;
    font-size: var(--x-small);
}

.usershowbottom {
   margin-top: 10px;
}

.usershowinfo {
    padding: 5px;  
    align-items: center;
    background-color: var(--light-background-color);
    border-radius:3px;
    margin-top:5px;
    flex-direction: column;
 }

 .header{
    font-weight: 600;
}

 .divider{
    height: 3px;
    padding: 0px;
 }
 .usershowspan {
     margin-top:3px;
   font-size: var(--medium);
   font-weight: 400;

 }

 .usericon{
     font-size: var(--x-small);
     font-weight: 300;
 }

.userupdate {
    flex: 2;
    padding: 10px;
    box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px 6px 9px -4px rgba(0, 0, 0, 0.59);
    margin-left: 10px;
    height: 55vh;
    padding: 20px;
}

.update{
    display: flex;
}

.left{
    flex:1;
}
.right{
    flex:1;
    padding: 5px;
    height:47vh ;
}

.frame{
    flex:1;
    height: 200px;
}

.uploadimage{
    flex:1;
    background-color: var(--Red-color);
    height:300px
}

.item{
    flex:3
}

.input{
    height: 25px;
    width: 100%;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 2px !important;
    border-color: var(--Black-color);
}

.hint{
    flex:1;
}

.btnupdate{
position: relative;
bottom: 5px;
right: 5px;
border: none;
padding: 10px;
width: 100px;
border-radius: 8px;
font-weight: 600;
align-self: stretch;
}
